header .img-cabecera {
  transition: box-shadow 200ms ease-in; }
  header .img-cabecera:hover {
    box-shadow: 0px 4px 24px 4px rgba(255, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 24px 4px rgba(255, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 24px 4px rgba(255, 0, 0, 0.75); }

header .titulo-header {
  color: red; }

h1 {
  background-color: black; }

.galery img {
  justify-content: center;
  margin-left: 120px;
  background-color: black;
  justify-content: space-evenly;
  width: 400px;
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;

}

h3 {
  margin-left: 120px;
  margin-top: 30px;
  margin-bottom: -20px;
  color: red;
}


.contacto {
  margin-left: 525px;
  margin-top: 50px;
  
}



body, nav {
  background-color:black;
}

footer {
  background-color: rgb(250, 28, 28);
}

.btn {
  background-color: red;
  justify-content: center;
}

h2{
  color: red;
}
  
.proyectos{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;

}





.youtube {
  background-color: black;
  padding: 120px;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 150px;
  
  width: 100;
  height: 100;
}

.videos {
  margin-top: 30px;
  margin-bottom: 10px;
}