@import "./partial/header";


h1 {
    background-color: black;
}
 .galery img {
   
    justify-content: center;
    margin-left: 40px;
    background-color: black;
    justify-content: space-evenly;
    
    width: 500px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;

     
 }
 .contacto {


     background-color: rgb(7, 7, 7);
     display: flex;
     justify-content: center;
     padding-top: 50px;
  
     flex-direction:column;
 }